.s-app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.s-link {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 15px;
}

.s-link__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid #CDCDCD;
  border-radius: 30px;
  text-decoration: none;
  color: #000000;
}

.s-link__logo {
  display: flex;
  flex-wrap: wrap;
}

.s-link__logo svg {
  width: 50px;
  height: 50px;
}

@media(min-width: 460px) {
  .s-link {
    font-size: 1.125rem;
  }
}

@media(min-width: 768px) {
  .s-link {
    font-size: 1.25rem;
  }
}